:root {
  /* Colours */
  --primary-color: #316B1C;
  --secondary-color: #D9D9D9;
  --text-color: #333;
  --hr-color: #C9C9C9;
  --active-background: #B9B9B9;
  --hover-colour: #C9C9C9;
  --section-background: #F5F5F5;

  /* Margins */
  --section-scroll-margin: 20px;
  --section-margin: 0 0 20px;
  --list-margin: 0 0 10px;
  --list-title-margin: 0 0 5px;
  --list-item-margin: 0 0 2px 20px;
  --location-title-margin: 0 0 5px;
  --first-section-margin: 20px 0;
  --footer-margin: 0 0 10px;

  /* Paddings */
  --header-padding: 0 0 10px;
  --nav-button-padding: 8px 16px;
  --section-padding: 20px;
  --footer-padding: 10px;
  --footer-list-item-padding: 14px 16px;

  /* Widths */
  --section-width: 80%;
  --footer-list-width: 80%;
  --footer-list-item-width: 80%;

  /* Border Radii */
  --section-border-radius: 20px;

  /* Font Sizes */
  --header-font-size: 50px;
  --navbar-font-size: 20px;
  --section-header-font-size: 30px;
  --paragraph-font-size: 16px;
  --list-title-font-size: 20px;
  --location-title-font-size: 20px;
  --location-subtitle-font-size: 18px;
  --footer-header-font-size: 30px;
  --footer-list-font-size: 16px;
  --footer-content-font-size: 20px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  scroll-behavior: smooth;
}

header {
  background-color: var(--secondary-color);
  padding: var(--header-padding);
  h1 {
    font-size: var(--header-font-size);
    justify-self: center;
    color: var(--primary-color);
    text-decoration: underline;
  }
}

nav {
  background-color: var(--secondary-color);
  ul {
    justify-self: center;
    list-style-type: none;
    overflow: hidden;
    display: block;
    width: 100%;
    li {
      font-size: var(--navbar-font-size);
      border-bottom: var(--hr-color) 2px solid;
      width: 100%;
      &:first-child {
        border-top: var(--hr-color) 2px solid;
      }
      &:last-child {
        border: none;
      }
      a {
        display: block;
        color: var(--text-color);
        text-align: center;
        padding: var(--nav-button-padding);
        text-decoration: none;
        &.active {
          background-color: var(--secondary-color);
          border-bottom: var(--primary-color) 3px solid;
        }
        &:active {
          background-color: var(--active-background);
          border-bottom: var(--primary-color) 3px solid;
        }
      }
    }
  }
}

main {
  section {
    width: var(--section-width);
    max-width: 1200px;
    border: black 1px solid;
    border-radius: var(--section-border-radius);
    justify-self: center;
    margin: var(--section-margin);
    padding: var(--section-padding);
    background-color: var(--section-background);
    scroll-margin-top: var(--section-scroll-margin);
    &:first-child {
      margin: var(--first-section-margin);
    }
    h2 {
      font-size: var(--section-header-font-size);
      justify-self: center;
      color: var(--primary-color);
      text-decoration: underline;
      margin: var(--section-margin);
    }
    .paragraph {
      p {
        font-size: var(--paragraph-font-size);
        color: var(--text-color);
      }
    }
    .list {
      h3 {
        font-size: var(--list-title-font-size);
        color: var(--text-color);
        margin: var(--list-title-margin);
      }
      ul {
        margin: var(--list-margin);
        li {
          font-size: var(--paragraph-font-size);
          color: var(--text-color);
          margin: var(--list-item-margin);
        }
      }
    }
    .location {
      h3 {
        font-size: var(--location-title-font-size);
        color: var(--text-color);
        margin: var(--location-title-margin);
        span {
          font-weight: 500;
          font-style: italic;
        }
      }
      p {
        font-size: var(--location-subtitle-font-size);
        font-weight: 500;
        color: var(--text-color);
        margin: var(--location-title-margin);
      }
      ul {
        margin: var(--list-margin);
        li {
          font-size: var(--paragraph-font-size);
          color: var(--text-color);
          margin: var(--list-item-margin);
        }
      }
    }
  }
  hr {
    margin: var(--section-margin);
    width: var(--section-width);
    color: var(--secondary-color);
    justify-self: center;
  }
}

footer {
  background-color: var(--secondary-color);
  padding: var(--footer-padding);
  h2 {
    font-size: var(--footer-header-font-size);
    justify-self: center;
    color: var(--primary-color);
    text-decoration: underline;
    margin: var(--footer-margin);
  }
  div {
    color: var(--text-color);
    ul {
      justify-self: center;
      list-style-type: none;
      overflow: hidden;
      display: block;
      width: var(--footer-list-width);
      li {
        font-size: var(--footer-list-font-size);
        border-bottom: var(--hr-color) 2px solid;
        width: var(--footer-list-item-width);
        padding:var(--footer-list-item-padding);
        &:last-child {
          border: none;
        }
        a {
          font-size: var(--footer-list-font-size);
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
    a {
      justify-self: center;
      font-size: var(--footer-content-font-size);
      text-decoration: none;
      color: var(--text-color);
      &:active {
        text-decoration: underline;
      }
    }
    p {
      font-weight: bold;
      justify-self: center;
      font-size: var(--footer-content-font-size);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    /* Margins */
    --section-scroll-margin: 230px;
    --section-margin: 0 0 20px;
    --list-margin: 0 0 10px;
    --list-title-margin: 0 0 5px;
    --list-item-margin: 0 0 2px 20px;
    --location-title-margin: 0 0 5px;
    --first-section-margin: 20px 0;
    --footer-margin: 0 0 10px;

    /* Paddings */
    --header-padding: 0 0 10px;
    --nav-button-padding: 8px 16px;
    --section-padding: 20px;
    --footer-padding: 10px;
    --footer-list-item-padding: 14px 16px;

    /* Widths */
    --section-width: 80%;
    --footer-list-width: 50%;
    --footer-list-item-width: 80%;

    /* Border Radii */
    --section-border-radius: 20px;

    /* Font Sizes */
    --header-font-size: 50px;
    --navbar-font-size: 20px;
    --section-header-font-size: 36px;
    --paragraph-font-size: 18px;
    --list-title-font-size: 24px;
    --location-title-font-size: 24px;
    --location-subtitle-font-size: 20px;
    --footer-header-font-size: 36px;
    --footer-list-font-size: 20px;
    --footer-content-font-size: 24px;
  }

  nav {
    position: sticky;
    top: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1699px) {
  :root {
    /* Margins */
    --section-scroll-margin: 60px;
    --section-margin: 0 0 20px;
    --list-margin: 0 0 10px;
    --list-title-margin: 0 0 5px;
    --list-item-margin: 0 0 2px 20px;
    --location-title-margin: 0 0 5px;
    --first-section-margin: 20px 0;
    --footer-margin: 0 0 10px;

    /* Paddings */
    --header-padding: 0 0 10px;
    --nav-button-padding: 8px 16px;
    --section-padding: 20px;
    --footer-padding: 20px;
    --footer-list-item-padding: 14px 16px;

    /* Widths */
    --section-width: 80%;
    --footer-list-width: 40%;
    --footer-list-item-width: 80%;

    /* Border Radii */
    --section-border-radius: 20px;

    /* Font Sizes */
    --header-font-size: 50px;
    --navbar-font-size: 20px;
    --section-header-font-size: 36px;
    --paragraph-font-size: 18px;
    --list-title-font-size: 24px;
    --location-title-font-size: 24px;
    --location-subtitle-font-size: 20px;
    --footer-header-font-size: 36px;
    --footer-list-font-size: 20px;
    --footer-content-font-size: 24px;
  }

  nav {
    position: sticky;
    top: 0;
    ul {
      display: flex;
      li {
        border-bottom: none;
        border-right: var(--hr-color) 2px solid;
        &:first-child {
          border-top: none;
        }
        a {
          &.active {
            background-color: var(--secondary-color);
            border-bottom: var(--primary-color) 3px solid;
          }
        }
      }
    }
  }

  footer {
    div {
      ul {
        li {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 1700px) {
  :root {
    /* Margins */
    --section-scroll-margin: 60px;
    --section-margin: 0 0 20px;
    --list-margin: 0 0 10px;
    --list-title-margin: 0 0 5px;
    --list-item-margin: 0 0 2px 20px;
    --location-title-margin: 0 0 5px;
    --first-section-margin: 20px 0;
    --footer-margin: 0 0 10px;
    --footer-list-margin: 0 0 10px;

    /* Paddings */
    --header-padding: 0 0 10px;
    --nav-button-padding: 8px 16px;
    --section-padding: 20px;
    --footer-padding: 20px;
    --footer-list-item-padding: 14px 16px;

    /* Widths */
    --section-width: 80%;
    --footer-list-width: 80%;
    --footer-list-item-width: 80%;

    /* Border Radii */
    --section-border-radius: 20px;

    /* Font Sizes */
    --header-font-size: 50px;
    --navbar-font-size: 20px;
    --section-header-font-size: 36px;
    --paragraph-font-size: 18px;
    --list-title-font-size: 24px;
    --location-title-font-size: 24px;
    --location-subtitle-font-size: 20px;
    --footer-header-font-size: 36px;
    --footer-list-font-size: 20px;
    --footer-content-font-size: 24px;
  }

  nav {
    position: sticky;
    top: 0;
    ul {
      display: flex;
      li {
        border-bottom: none;
        border-right: var(--hr-color) 2px solid;
        &:first-child {
          border-top: none;
        }
        a {
          &.active {
            background-color: var(--secondary-color);
            border-bottom: var(--primary-color) 3px solid;
          }
          &:hover {
            background-color: var(--active-background);
            border-bottom: var(--primary-color) 3px solid;
          }
        }
      }
    }
  }

  footer {
    div {
      ul {
        display: flex;
        justify-content: center;
        margin: var(--footer-list-margin);
        li {
          border-bottom: var(--secondary-color) 3px solid;
          border-right: var(--hr-color) 2px solid;
          width: auto;
          &:last-child {
            border: none;
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}